* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common style */
body {
  font-family: 'Lato', sans-serif;
}

/* header style */
.banner-section {
  display: flex;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  padding: 0px 210px;
}
.banner-title {
  font-size: 79px;
  font-weight: 800;
  color: #272727;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 32px 0;
  line-height: 30px;
  /* width: 650px; */
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  background: #e55473;
  border-radius: 8px;
  border: none;
  padding: 20px 46px;
}
.banner-img {
  padding-top: 50px;
}

/* Featured flowers text style  */
.featured-text {
  text-align: center;
  margin-top: 100px;
}
.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 50px;
}
/* Featured flower card style */
.flower-img,
.flower-img-two,
.flower-img-three {
  width: 100%;
}

.flower-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.flower-card {
  width: 420px;
  height: 483px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 75px 0px 75px;
}
.flower-card-two {
  background: rgba(5, 151, 160, 0.15);
  width: 420px;
  height: 483px;
  border-radius: 300px 300px 0px 0px;
  padding: 117px 47px 51px 47px;
}
.flower-card-three {
  background: rgba(71, 125, 17, 0.15);
  width: 420px;
  height: 483px;
  border-radius: 300px 300px 0px 0px;
  padding: 77px 75px 0px 75px;
}

.flower-name {
  text-align: center;
  margin-top: 20px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}

.flower-name-two {
  text-align: center;
  margin-top: 59px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
.flower-name-three {
  text-align: center;
  margin-top: 20px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* Hot Deal discount Section style */
.discount-section {
  height: 620px;
  margin-top: 200px;
  padding: 100px 330px 100px 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(229, 84, 115, 0.05);
  gap: 140px;
}
.discount-text {
  text-align: center;
  padding: 230px 0px 162px 0px;
}
.discount-title {
  width: 100%;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.colored {
  color: #e55473;
}
.discount-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 24px 0px 24px 0px;
  line-height: 30px;
}
.discount-img {
  width: 280px;
  height: 360px;
}

/* instagram style  */
.insta-img {
  width: 300px;
  height: 335px;
}
.insta-section {
  width: 80%;
  margin: 0 auto;
}
.insta-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* latest deal style  */
.latest-deals {
  background: url('../assets/Rectangle\ 9.png');
  width: 73%;
  margin: 125px auto 78px auto;
  height: 449px;
  display: flex;
  background-position: initial;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.inside-text {
  margin-bottom: 45px;
}
.deal-title {
  text-align: center;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 16px 20px 45px 20px;
}
.email-input {
  width: 700px;
  height: 60px;
  border: none;
  border-radius: 8px;
  margin-right: 13px;
  /* padding: 10px 25px; */
}
input::placeholder {
  padding: 0 25px;
}
.inside-text button {
  padding: 16px 45px;
}

/* footer style  */
.footer-section {
  background: #111010;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-title {
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: 800;
}
.footer-description {
  color: rgba(255, 255, 255, 0.716);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin: 24px 0px 24px 0px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
